.nav {
  display: flex;
  align-items: center;
}

.header-page {
  background-color: var(--background-color);
  border-bottom: 1px solid #ececec;
}

.site-auth {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.site-auth__link,
.address {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.site-auth__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  color: var(--text-title-color);
  padding-top: 32px;
  padding-bottom: 32px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
  &:hover,
  &:focus {
  color: var(--text-active-color);
 }
 
 &:hover .site-auth__icon,
 &:focus .site-auth__icon {
  fill: var(--text-active-color);
}
}

.site-auth__icon {
  align-items: center;
  margin-right: 10px;
  fill: var(--text-title-color);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-auth .site-auth__item + .site-auth__item {
  margin-left: 50px;
}
