.logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-family: "Raleway";
    font-size: 26px;
    line-height: 1.1923;
    letter-spacing: 0.03em;
    color: var(--text-active-color);
  }
  
  .header-page__logo {
    padding-top: 24px;
    padding-bottom: 25px;
  }